/*PROFILE PART CSS*/

/*Center content*/
#row_profile{ 
	display: flex;
    justify-content: center;
}

.profile{
	position: absolute;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

/*Switch light and dark mode button*/
#iconLight{ 
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: .3s;
  font-weight: bold;
}

#iconLight:hover{
	color: #42a5f5 !important;
}


/*Profile information*/
#portrait{
	border-radius: 50%;
	border: 5px solid white;
	outline: 5px solid #42a5f5;
	background-image: linear-gradient(to bottom right, #00aeff, #08b8cc, white);
	width: 150px;
	height: 150px;
	top: 80px;
}

#profile_name{
	top: 250px;
}

#profile_job{
	top: 300px;
	font-weight: bold;
	font-style: italic;
	color: grey;
}

#profile_icon{
	top:330px;
}

.icon{
	color: black;
}

#fb_icon:hover{
	color: #42a5f5 !important;
}

#yt_icon:hover{
	color: red !important;
}

#git_icon:hover{
	color: #d600bd !important;
}

/*Profile contact*/
#contact{
	top: 380px;
}

#CV_button{
	border: none;
	padding: 20px 40px;
	border-radius: 10px;
	background-color: #49b0ff;
	color: white;
	box-shadow: 2px 2px 5px #49b0ff;
}

#CV_button:hover{
	background-color: #2F9BF4;
}

.contact_button{
	border: none;
	padding: 8px 12px;
	border-radius: 8px;
	background: #c6ccd1;
	color: black;
	position: relative;
	left: 20px;
}

.contact_button:hover{
	background: #A2A7AA !important;
}

.contact_button.dark:hover{
	background: #324454 !important;
}

/*INFORMATION PART CSS*/

/*Center content*/
#row_information{
	display: flex;
    justify-content: center;
}

/*Button tab nav bar*/
#button_tab{
	position: absolute;
	top: 480px;
	padding: 15px 40px 15px 20px;
	background-color: #E9EBEC;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
}

.tab_link{
	border: none;
	padding: 15px 20px;
	border-radius: 15px;
	width: 150px;
	background: none;
	font-weight: bold;
	opacity: 50%;
}

.active{
	background-color: white;
	opacity: 1;
}

.tab_link:hover{
	background-color: white;
	opacity: 0.7;
}

.dark:hover{
	background: #324454;
}

.active.dark{
	background: #0C151D;
}


/*Details tabs*/
#experience_tab{
	position: relative;
	left: 10px;
}

#project_tab{
	position: relative;
	left: 20px;
}

.content_tab{
	position: absolute;
	top:590px;
}

#project, #skill{
	display: none;
}

/*About me*/
#aboutme{
	background: #E9EBEC;
	padding: 10px 15px;
	border-radius: 10px;
	margin-bottom: 50px;
}

#info_aboutme{
	max-width: 500px;
	text-align: justify;
}

/*Skill*/
#frontend_skill{
	position: relative;
	right: 300px;
	text-align: justify;
	display: inline-block;
}

.skill_group{
	position: relative;
	top: 10px;
}

#FE_skill_header{
	position: relative;
	left: 30%;
}


#secondCol_FE{
	position: absolute;
	left: 95%;
	top: 0px;
}

#BE_skill_header{
	position: relative;
	left: 30%;
}

#backend_skill{
	position: relative;
	left: 300px;
	float: left;
	text-align: justify;
}

/*Project*/

footer{
	display: flex;
	justify-content: center;	
	position: relative;
	top: 830px;
	color: #545454;
	font-style: italic;
}
