/*===============PROFILE PART CSS===============*/

/*Center content*/
#row_profile{ 
	display: flex;
    justify-content: center;
}

.profile{
	position: absolute;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

/*Switch light and dark mode button*/
#iconLight{ 
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: .3s;
  font-weight: bold;
}

#iconLight:hover{
	color: #42a5f5 !important;
}


/*Profile information*/
#portrait{
	border-radius: 50%;
	border: 5px solid white;
	outline: 5px solid #42a5f5;
	background-image: linear-gradient(to bottom right, #00aeff, #08b8cc, white);
	width: 150px;
	height: 150px;
	top: 80px;
}

#profile_name{
	top: 250px;
}

#profile_job{
	top: 300px;
	font-weight: bold;
	font-style: italic;
	color: grey;
}

#profile_icon{
	top:330px;
}

.icon{
	color: black;
}

#fb_icon:hover{
	color: #42a5f5 !important;
}

#yt_icon:hover{
	color: red !important;
}

#git_icon:hover{
	color: #d600bd !important;
}


/*Profile contact*/
#contact{
	top: 380px;
}

#CV_button{
	border: none;
	padding: 20px 40px;
	border-radius: 10px;
	background-color: #49b0ff;
	color: white;
	box-shadow: 2px 2px 5px #49b0ff;
}

#CV_button:hover{
	background-color: #2F9BF4;
}

.contact_button{
	border: none;
	padding: 8px 12px;
	border-radius: 8px;
	background: #c6ccd1;
	color: black;
	position: relative;
	left: 20px;
}

.contact_button:hover{
	background: #A2A7AA !important;
}

.contact_button.dark:hover{
	background: #324454 !important;
}

/*For small devices*/
@media screen and (max-width: 320px){
	#iconLight{
		font-size: 15px;
	}
	#portrait{
		width: 75px;
		height: 75px;
		top: 50px;
		border: 1px solid white;
		outline: 1px solid #42a5f5;
	}
	#profile_name{
		top: 135px;
		font-size: 15px;
	}
	#profile_job{
		top: 155px;
		font-size: 10px;
		font-weight: bold;
		font-style: italic;
		color: grey;
	}
	#profile_icon{
		top:170px;
		font-size: 10px;
	}
	#contact{
		top: 200px;
	}
	#CV_button{
		border: none;
		font-size: 10px;
		padding: 10px 20px;
		border-radius: 5px;
	}
	.contact_button{
		border: none;
		font-size: 10px;
		padding: 4px 6px;
		border-radius: 4px;
		left: 10px;
	}
}

/*===============INFORMATION PART CSS===============*/

/*Center content*/
#row_information{
	display: flex;
   justify-content: center;
   align-items: center;
}

/*Button tab nav bar*/
#button_tab{
	position: absolute;
	top: 480px;
	padding: 15px 40px 15px 20px;
	background-color: #E9EBEC;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
}

.tab_link{
	border: none;
	padding: 15px 20px;
	border-radius: 15px;
	width: 150px;
	background: none;
	font-weight: bold;
	opacity: 50%;
}

.active{
	background-color: white;
	opacity: 1;
}

.tab_link:hover{
	background-color: white;
	opacity: 0.7;
}

.dark:hover{
	background: #324454;
}

.active.dark{
	background: #0C151D;
}


/*Details tabs*/
#experience_tab{
	position: relative;
	left: 10px;
}

#project_tab{
	position: relative;
	left: 20px;
}

.content_tab{
	position: absolute;
	top:590px;
}

#project, #skill{
	display: none;
}

/*About me*/
#aboutme{
	background: #E9EBEC;
	padding: 10px 15px;
	border-radius: 10px;
	margin-bottom: 50px;
}

#aboutme_title{
	text-align: center;
}

#info_aboutme{
	max-width: 500px;
	text-align: justify;
}

/*Skill*/
#skill_title{
	text-align: center;
}

.fa-ul li{
	padding-bottom: 10px;
}

#frontend_skill{
	position: relative;
	right: 300px;
	text-align: justify;
	display: inline-block;
}

.skill_group{
	position: relative;
	top: 10px;
}

#FE_skill_header{
	position: relative;
	left: 30%;
}


#secondCol_FE{
	position: absolute;
	left: 95%;
	top: 0px;
}

#BE_skill_header{
	position: relative;
	left: 30%;
}

#backend_skill{
	position: relative;
	left: 300px;
	float: left;
	text-align: justify;
}

/*Project*/
#project{
	margin: 0 10px;
}

/* Clear floats after the columns */
#project:after {
	content: "";
	display: table;
	clear: both;
}

#project h3{
	text-align: center;
	padding-bottom: 30px;
}

.project_column{
	float: left;
	width: 33.33%;
	padding: 0 10px;
}

.project_content img{
	width: 100%; /* or any custom size */
    height: 100%; 
	object-fit: contain;
	margin-bottom: 20px;
	border-radius: 10px;
}
  
/* Responsive columns */
@media screen and (max-width: 600px) {
    .project_column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
}

.project_content{
	position: relative;
}

.overlay {
	position: absolute; 
	bottom: 0; 
	margin-bottom: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1; 
	width: 100%;
	height: auto;
	border-radius: 10px;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 15px;
	text-align: center;
}

.project_title{
	font-size: 15px;
	margin-bottom: 0;
}

.overlay a{
	color: white;
}

.project_content:hover .overlay {
	opacity: 1;
}

/*===============FOOTER===============*/
footer{
	font-weight: bold;
	font-family: "Montserrat";
	font-size: 15px;
	text-align: center;
	opacity: 0.5;
	width: 100%;
	height: 23px;
}

#project_footer{
	position: absolute;
	margin-left: -15px;
	bottom: -5%;
}

#aboutme_footer, #skill_footer{
	position: absolute;
	margin-left: -15px;
	bottom: -22%;
}
